.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
  position: relative;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-icon {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

.navbar-links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar-links .nav-btn {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}
.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  border: none;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar-links a:hover {
  color: #141414;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

@media (max-width: 768px) {
  .toggle-switch {
    position: absolute;
    top: 12px;
    right: 16px;
  }
}


.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color:#8d8888;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #1976d2;
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 999;
    padding: 1rem;
  }

  .navbar-links.show {
    display: flex;
  }

  .navbar-links .nav-btn {
    text-align: left;
    padding: 0.5rem 0;
  }
}
